:root {
  --mainBlue: #2a2a7a;
  --mainWhite: #ffffff;
  --mainGrey: #f3f3f3;
}

body {
  background: var(--mainGrey) !important;
}

nav {
  background: var(--mainBlue) !important;
}

.brand {
  color: var(--mainWhite) !important;
  font-size: 1.2em;
  list-style: none;
}

.brand:hover {
  text-decoration: none;
}

.nav-link {
  color: var(--mainWhite) !important;
}

.title-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.list-pass {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.1rem !important;
  text-transform: uppercase;
}

.top {
  margin-top: 15rem;
}

button {
  background: var(--mainBlue) !important;
  color: var(--mainWhite) !important;
}

i {
  cursor: pointer;
}

.fa-edit {
  color: purple;
}

.fa-trash-alt {
  color: red;
}

.fa-external-link-alt {
  color: blue;
}

.fa-spinner {
  margin-top: 12rem;
  color: var(--mainBlue);
  display: flex;
  justify-content: center;
}

.card-detail {
  height: 220px;
  border-left: 20px solid var(--mainBlue) !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
}

.add-form {
  display: flex !important;
}

.form {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  height: 270px;
}

.field-error {
  color: #921e2a;
  font-style: italic;
  font-size: 12px;
  text-align: right !important;
}
